* {
    background-color: black;
    color: white;


}

.body {
    margin: auto;
    width: 75%;
}

.sidebar {
    background-color: black;
    display: flex;
    flex-grow: 1;
    order: 1;
    /* change with mobile site */
    max-width: 420px;
    border-style: none solid none none;
    color: #e7e9ea;
    border-color: #2f3336;
    margin-right: 1em;
    border-width: 2px;
}

.menu {
    display: inline-block;
    position: fixed;
    vertical-align: middle;
    margin-top: 30vh;
    margin-bottom: 30vh;
    left: 0px;
}